body {
  margin-top: -10px;
  background-image: url("../assets/radio.jpg");
  background-size: cover;
  text-align: center;
  padding: 10px;
}

.container {
  display: inline-block;
}

.categoryProgram {
  width: auto;
  height: 5rem;
  background: rgba(56, 54, 54, 0.808);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
  color: white;
  font-size: 15px;
  margin: 2rem auto;
  padding: 1.5rem;
  transition: 0.3s;
  margin: 5px;
}



.desc {
  position: relative;
  display: inline-block;
}

.desc .hoverText {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.desc .hoverText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.desc:hover .hoverText {
  visibility: visible;
  opacity: 1;
} 



.categoryProgram:hover {
  background-color: red;
}

.desc {
  margin-top: -25px;
}



.link {
  cursor: pointer;
  margin-top: -20px;
}