body {
  margin-top: -10px;
  background-image: url("../assets/radio.jpg");
  background-size: contain;
  text-align: center;
  padding: 10px;
}
.channelPage {
  display: grid;
  color: white;
}

.container {
  display: grid;
  background: rgba(58, 59, 59, 0.945);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
  width: 33%;
  margin: 2rem auto;
}

h2 {
  margin: 1rem auto;
}

p {
  padding: 10px;
}

.program {
  display: inline-block;
  width: auto;
  background: rgba(58, 59, 59, 0.945);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
  color: white;
  font-size: 15px;
  margin: 2rem auto;
  padding: 1rem;
  transition: 0.3s;
  margin: 5px;
}

.link {
  margin-top: -25px;
  cursor: pointer;
}

.star {
  margin-top: -50px;
}