.favoriter {
  background-color: grey;
  width: 100%;
  height: auto;
  justify-content: center;
}

.favChannels {
  background: aquamarine;
  font-size: 50px;
  color: black;
}
.favPrograms {
  background: darkkhaki;
  font-size: 50px;
  color: black;
}

.togglestyle {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
