body {
  justify-content: center;
}

.loginContainer {
  margin: 3rem auto;
  width: 33%;
  display: grid;
  background-color: bisque;
  border-radius: 15px 50px;
}

p {
  margin: 1rem auto;
}

h1 {
  margin: 2rem auto;
}


.formContainer {
  display: grid;
  justify-content: center;
}

.changeRegLog {
  cursor: pointer;
    text-align: center;
    text-decoration: underline;
}

.errorBox {
  display: none;
}

.errorBox.active {
  display: block;
  color: red;
}

.errorBox.inactive {
  display: none;
}