body{
  background-image: url("../assets/radio.jpg");
  background-size: cover;
}


h1 {
  margin: 1rem auto;
  color: white;
}

.container {
  width: 33%;
  margin: 10rem auto;
  background: rgba(99, 97, 97, 0.582);
  padding: 20px;
  display: flex;
  color: white;
  border-radius: 15px 50px;
}

.changeInfo {
  margin-left: 10px;
  width: 100%;
}

.delete{
  cursor: pointer;
}