/*Login.js and Register.js style*/
.registerContainer {
  display: grid;
  margin: 1rem auto;
  background: rgba(58, 59, 59, 0.945);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px 50px;
}

  form {
    margin: 1rem auto;
  }

  .errorBox {
    display: none;
  }
  
  .errorBox.active {
    display: block;
    color: red;
  }
  
  .errorBox.inactive {
    display: none;
  }

.singInButton {
  margin-top:2rem;
  width: 25%;
  border: none;
}

/* LoginPage.js style*/
.containerStyle{
  min-height: 80vh;
}
.toggleText{
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.toggleText:hover{
  color:#FE7F50
}